<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBx0FJt-qfZjImd0DgOaaqurC_mi1Ru8N0</string>
	<key>GCM_SENDER_ID</key>
	<string>69694178554</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.etch.glist</string>
	<key>PROJECT_ID</key>
	<string>glist-6e64f</string>
	<key>STORAGE_BUCKET</key>
	<string>glist-6e64f.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:69694178554:ios:323a733599d4f2e4973543</string>
</dict>
</plist>